<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
    <div class="mobile-fix-option"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <!-- <app-left-menu></app-left-menu> -->
                        <div class="brand-logo">
                            <a routerLink="/" id="headerlogo">
                                <img [src]="themeLogo" class="img-fluid" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="menu-center">
                        <!-- <a class="btn btn-solid rounded-lg virtual_btn" href="https://store.ralbatech.com/puma-mumbai-store/puma-ladies-hand-bags" target="_blank" >VIRTUAL STUDIO</a> -->
                        <!-- <a class="btn btn-solid rounded-lg virtual_btn" [routerLink]="['/pages/3dstore']" routerLinkActive="router-link-active"  >VIRTUAL STUDIO</a> -->
                        <form class="ml-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" class="form-control" (keyup.enter)="getSearchVAl($event.target.value)" placeholder="Search for products">
                            </div>
                        </form>
                    </div>

                    <div class="menu-right pull-right">
                        <div>
                            <!-- <app-menu></app-menu> -->
                        </div>
                        <div>
                            <app-settings></app-settings>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <app-menu></app-menu>
        </div>
      </div>
    </div>
  </div> -->

</header>