<!-- <app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb> -->
<!-- section start -->
<section class="section-b-space">
    <div class="container padding-cls">
      <div class="checkout-page">
        <div class="checkout-form">
          <form>
            <div class="row">
              <div class="col-lg-7 col-sm-12 col-xs-12">
                <div class="checkout-title">
                  <h3>Billing Details</h3>
                  <p class="mb-1">Contact Information</p>
                  <p class="m-0">We'll use these details to keep you inform on your delivery.</p>
                </div>
                <div class="row">
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Email</div>
                    <input type="text" name="field-email" value="" placeholder="mail@example.com">
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Phone Number </div>
                    <input type="number" name="field-phone" value="" placeholder="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h4>1. Shipping Information</h4>
                  </div>
                </div>
                  
                <div class="row">
                  <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <div class="field-label">Country</div>
                    <select>
                      <option>India</option>
                      <option>South Africa</option>
                      <option>United State</option>
                      <option>Australia</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">First Name</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Last Name</div>
                    <input type="text" name="field-name" value="" placeholder="mail@example.com">
                  </div>
                  <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <div class="field-label">Street Address</div>
                    <input type="text" name="field-address" value="" placeholder="Street address">
                  </div>
                  <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <div class="field-label">Street Address 2 <span class="font-12 text-muted float-right">Optional</span></div>
                    <input type="text" name="field-address" value="" placeholder="Street address">
                  </div>
                  <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <div class="field-label">City</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                  <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <div class="field-label">State</div>
                    <select>
                      <option>India</option>
                      <option>South Africa</option>
                      <option>United State</option>
                      <option>Australia</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2 col-sm-6 col-xs-12">
                    <div class="field-label">ZIP</div>
                    <input type="text" name="field-name" value="" placeholder="">
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-sm-12 col-xs-12">
                <div class="checkout-details">
                  <div class="order-box">
                    <div class="title-box">
                      <div>Product <span> Total</span></div>
                    </div>
                    <ul class="qty">
                      <li>Pink Slim Shirt × 1 <span>$25.10</span></li>
                      <li>SLim Fit Jeans × 1 <span>$555.00</span></li>
                    </ul>
                    <ul class="sub-total">
                      <li>Subtotal <span class="count">$580.10</span></li>
                      <li>Coupon <span class="count">-$77.60</span></li>
                      <li>Gift Card <span class="count">-$100.00</span></li>
                      <li>Estimated Tax  <span class="count">$23.28</span></li>
                      <li>Estimated Shipping  <span class="count">FREE</span></li>
                    </ul>
  
                    <ul class="total">
                      <li>Estimated Total <span class="count">$425.78</span></li>
                    </ul>
                  </div>
  
                  <div class="payment-box">
                    <div class="upper-box">
                      <div class="payment-options">
                        <ul>
                          <li>
                            <div class="radio-option">
                              <input type="radio" name="payment-group" id="payment-1" checked>
                              <label for="payment-1">Check Payments<span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                            </div>
                          </li>
  
                          <li>
                            <div class="radio-option">
                              <input type="radio" name="payment-group" id="payment-2">
                              <label for="payment-2">Cash On Delivery<span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                            </div>
                          </li>
                          <li>
                            <div class="radio-option paypal">
                              <input type="radio" name="payment-group" id="payment-3">
                              <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="text-right">
                      <a [routerLink]="['shop/checkout']" class="btn-solid rounded-lg btn">continue to shipping method</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
<!-- section End -->