.card{
    input{
        position: absolute;
        top:25px;
        right:15px;
    }
}
a{
    cursor: pointer;
}
.card-body p {
    margin-bottom: .3rem;
}
.card{
    margin-bottom: 1rem;
}
address{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
address div{
    flex-basis: 48%;
}
address img{
    width: 200px;
    height: 200px;
}
.order-btn{
    border: solid 1px;
    padding: 7px;
    border-radius: 8px;
    color: #fff;
    background-color: #003e94;
}
.order-btn:hover{
    color: #003e94;
    background-color: #fff;
}