<!-- <app-breadcrumb [title]="'Dashboard'" [breadcrumb]="'Dashboard'"></app-breadcrumb> -->

<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar" (click)="ToggleDashboard()">
                    <a hre="javascript:void(0)" class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left" [class.open]="openDashboard">
                    <div class="collection-mobile-back" (click)="ToggleDashboard()">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a [routerLink]="['/dashboard']">My Account</a></li>
                            <li><a [routerLink]="['/address']">Address Book</a></li>
                            <li class="active"><a [routerLink]="['/order-list']">Order List</a></li>
                            <li><a [routerLink]="['/change-password']">Change Password</a></li>
                            <li class="last"><a (click)="logout()">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard row">
                        <div class="col-lg-12">
                            <div class="product-order">
                                <h3>your order details</h3>
                                <div class="row product-order-detail" *ngFor="let product of oderProducts">
                                    <div class="col-3">
                                        <img class="img-fluid" [src]="product.product_image"
                                            [alt]="product.product_name">
                                    </div>
                                    <div class="col-3 order_detail">
                                        <div>
                                            <h4>product name</h4>
                                            <h5>{{ product.product_name | titlecase }}</h5>
                                        </div>
                                    </div>
                                    <div class="col-2 order_detail">
                                        <div>
                                            <h4>quantity</h4>
                                            <h5>{{product.qty}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-2 order_detail">
                                        <div>
                                            <h4>Product price</h4>
                                            <h5>{{product.price | currency:product_service?.Currency.currency:'symbol'}}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-2 order_detail">
                                        <div>
                                            <h4>Addons price</h4>
                                            <h5>{{(product.addonsprice ? product.addonsprice: 0) |
                                                currency:product_service?.Currency.currency:'symbol'}}</h5>
                                            <a class="pe-auto" (click)="viewAddonsDetails(product.addons)">View
                                                Addons</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="total-sec">
                                    <ul>
                                        <li>subtotal <span>{{total_order_amount |
                                                currency:product_service?.Currency.currency:'symbol'}}</span></li>
                                    </ul>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <ul class="final-total pb-4">
                                        <li>Total: <h3 class="text-black">{{total_order_amount |
                                                currency:product_service?.Currency.currency:'symbol'}}</h3>
                                        </li>
                                    </ul>
                                    <ul class="order-detail">
                                        <li>Order Status: <h3 class="text-black">{{ order_status | uppercase }}</h3>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row order-success-sec">
                                <div class="col-sm-6">
                                    <h4>summery</h4>
                                    <ul class="order-detail">
                                        <li>order ID: {{order_id}}</li>
                                        <li>Order Date: {{ createdAt | date:'MMMM d, y'}}</li>
                                        <li>Order Total: {{total_order_amount |
                                            currency:product_service?.Currency.currency:'symbol'}}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <h4>shipping address</h4>
                                    <ul class="order-detail">
                                        <li>{{orderAddress?.user_full_name}}</li>
                                        <li>{{orderAddress?.addressline1}}</li>
                                        <li>{{orderAddress?.addressline2}}</li>
                                        <li>{{orderAddress?.city}}</li>
                                        <li>{{orderAddress?.state}} - {{orderAddress?.postal_code}}</li>
                                        <li>Contact No. {{orderAddress?.mobile}}</li>
                                    </ul>
                                </div>

                                <div class="col-sm-12 payment-mode">
                                    <h4>payment method</h4>
                                    <p>{{payment_method}}</p>
                                    <p *ngIf="payment_method == 'COD'">Pay on Delivery (Cash/Card). Cash on delivery
                                        (COD) available. Card/Net banking acceptance subject to device availability.</p>
                                </div>
                                <div class="col-md-12">
                                    <div class="delivery-sec">
                                        <h3>expected date of delivery</h3>
                                        <h2>{{expected_delivery | date:'MMMM d, y'}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<!-- Dialog template -->

<ng-template #addonsDetails>
    <div class="modal-content warning_popup ">
        <div class="warning_msg">
            <div class="modal-header align-items-center justify-content-center">
                <h3 class="modal-title text-center"><span>Addons Details</span></h3>
            </div>
            <div class="modal-body p-0">
                <div>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Addons Name</th>
                                <th scope="col">Addons Value</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let addon of addonsjson">
                                <td *ngIf="addon.key">{{capitalizeString(addon.key)}}</td>
                                <td *ngIf="addon.extra_document">
                                    <div *ngFor="let adn of addon.extra_document">{{capitalizeString(adn.keyname)}}<span
                                            class="img-addons"><a href="{{adn.fileUrl}}" target="_blank"><img
                                                    src="assets/images/fileicon.png"
                                                    alt="{{capitalizeString(adn.keyname)}}"></a> </span></div>
                                </td>
                                <td>{{capitalizeString(addon.value)}}</td>
                                <td>{{addon.price | currency:product_service?.Currency.currency:'symbol'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</ng-template>