.cart_procolor span{
    width: 16px;
    height: 16px;
    position: absolute;
}
.cart_product_info
{
    width: 40%;
}
.cart_product_info p {
    color: black;
}
.cart_product_info p:first-child {
    font-weight: 700;
}
.flex_item {
    align-items: center;
    justify-content: space-evenly;
}
.addon_cart li {
    display: list-item;
    list-style: none;
}
.addon_cart a{
    cursor: pointer;
}
.cart_product_info a{
    text-decoration: underline;
    color: black;
}
.cart-products-list{
    border: solid 1px #000;
    border-radius: 6px;
    padding: 5px;
}
.anchor-remove
{
    text-decoration: none !important;
}
.rounded-sm{
    padding: 4px 8px;
    font-size: 12px;
}