<!-- <app-breadcrumb [title]="'Cart'" [breadcrumb]="'Cart'"></app-breadcrumb> -->
<!-- section start -->
<section class="cart-section">
    <div class="container">
        <div class="col-sm-12 empty-cart-cls text-center" *ngIf="products.length < 1">
            <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something to make me happy :)</h4>
        </div>

        <div class="row cart_section" *ngIf="products.length > 0">
            <div class="col-sm-12">
                <div class="title1 section-b-space">
                    <h2>Your shopping bag</h2>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8 col-12">
                <div class="row justify-content-center align-items-center mb-4" *ngFor="let product of products">
                    <div class="col-sm-5 col-md-5 col-9 flex_item">
                        <div class="cart_product_img">
                            <!-- <a [routerLink]="['/shop/product/', product.product_slug]" routerLinkActive="active"> -->
                            <img class="img-fluid" [src]="product.product_image[0].pro_image" [alt]="product.product_name">
                            <!-- </a> -->
                        </div>
                        <div class="cart_product_info">
                            <p class="mb-2 product_title">
                                {{ product.product_name | titlecase }}
                            </p>
                            <p class="mb-2">Price : {{ ((product.product_sale_price)? product.product_sale_price: product.product_retail_price) | currency: product_service.Currency?.currency:'symbol'}}</p>
                            <p class="mb-2">Addons : {{ ((product.addonsprice)? product.addonsprice: 0) | currency: product_service.Currency?.currency:'symbol'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-3">
                        <div class="qty-box">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn quantity-left-minus"   [disabled]="desableincrement" data-type="minus" (click)="decrement(product)">
                                        <i class="ti-minus"></i>
                                    </button>
                                </span>
                                <input type="text" name="quantity" class="form-control input-number" disabled [(ngModel)]="product.quantity">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn quantity-right-plus"  [disabled]="desabledecrement"  data-type="plus"  (click)="increment(product)" >
                                        <i class="ti-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-12">
                        <ul class="cart_item_action mt-2">
                            <!-- <li><i class="ti-pencil"></i>Edit Item</li> -->
                            <li><a (click)="removeItem(product)"><i class="ti-trash"></i>Remove</a></li>
                            <li><a (click)="addwishlist(product)"><i class="ti-heart"></i>Wishlist</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row section-t-space">
                    <div class="col-12">
                        <!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <h5 class="m-0 text-left">Estimated Your Shipping 
                                        <span class="float-right est_info">Shipping to 91001 <i class=" ti-angle-down ml-2"></i></span>
                                    </h5>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                    labore sustainable VHS.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <h5 class="m-0 text-left">Enter a Coupon Code
                                    <span class="float-right est_info">20% discount applied <i class=" ti-angle-down ml-2"></i></span></h5>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                    labore sustainable VHS.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <h5 class="m-0 text-left">Apply Gift Card
                                        <span class="float-right est_info">
                                            <i class="ti-angle-down ml-2"></i>
                                        </span>
                                    </h5>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                    labore sustainable VHS.
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion> -->
                    </div>
                </div>
            </div>

            <!-- Product price box -->
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <div class="checkout-details">
                    <div class="order-box">
                        <div class="title-box">
                            <div>Product <span> Total</span></div>
                        </div>
                        <ul class="qty" *ngFor="let product of products">
                            <li>{{ product.product_name | titlecase }} × {{product.quantity}} <span>{{ ((product.product_sale_price)? product.product_sale_price: product.product_retail_price) | currency: product_service.Currency?.currency:'symbol'}} + {{ ((product.addonsprice)? product.addonsprice: 0) | currency: product_service.Currency?.currency:'symbol'}}</span></li>
                        </ul>
                        <ul class="sub-total">
                            <li>Subtotal <span class="count">{{ getTotal | async | currency:product_service?.Currency.currency:'symbol' }}</span></li>
                            <!-- <li>Coupon <span class="count">-$77.60</span></li>
                      <li>Gift Card <span class="count">-$100.00</span></li>
                      <li>Estimated Tax  <span class="count">$23.28</span></li>
                      <li>Estimated Shipping  <span class="count">FREE</span></li> -->
                        </ul>

                        <ul class="total">
                            <li>Estimated Total <span class="count">{{ getTotal | async | currency:product_service?.Currency.currency:'symbol' }}</span></li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <a [routerLink]="['/checkout']" class="btn btn-solid rounded-lg w-100"><i class="ti-lock mr-1"></i>Checkout</a>
                        <!-- <button class="btn btn-solid rounded-lg w-100"></button> -->
                    </div>
                    <!-- <div class="text-center mt-3">
                      <a href="javascript:void(0)" class="btn rounded-lg paypal_btn w-100"><i class="fa fa-paypal mr-1"></i>Paypal</a>
                  </div> -->
                </div>
            </div>
            <!-- Product price box end -->
        </div>
    </div>
</section>
<!--section end-->