.text-danger div:first-child
{
    margin-top: -25px;
}

.text-danger{
    padding-bottom: 25px;
}
.float-right{
    float: right !important;
    text-decoration: none;
}
a{
    text-decoration: none;
}