<!-- <app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb> -->
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="phone_email">Email / Phone Number</label>
                            <input type="text" class="form-control" id="phone_email" placeholder="Email Or Phone" required="" formControlName="phone_email">
                            <div *ngIf="phone_email.invalid && (phone_email.dirty || phone_email.touched)" class="text text-danger">
                                <div *ngIf="phone_email.errors?.required">
                                    Email is required.
                                </div>
                                <div *ngIf="phone_email.errors?.email">
                                    Please enter a valid email.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="login_password">Password</label>
                            <input type="password" class="form-control" id="login_password" placeholder="Enter your password" required="" formControlName="login_password">
                            <div *ngIf="login_password.invalid && (login_password.dirty || login_password.touched)" class="text text-danger">
                                <div *ngIf="login_password.errors?.required">
                                    Password is required.
                                </div>
                            </div>
                        </div>
                        <p class="m-0 float-right"><a [routerLink]="['/pages/forget/password']">Forget Password</a></p>
                        <button type="submit" class="btn btn-solid rounded-lg">Login</button>
                    
                        <div [className]="loginValid ? 'alert mt-3 alert-success' : 'alert mt-3 alert-danger'" role="alert" *ngIf="loginValid || loginInValid">
                            <div class="d-flex align-items-center"><span *ngIf="loginValid"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> &nbsp;</span>{{loginMassage}}</div>
                        </div>
                    
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                    <a [routerLink]="['/register']"><button class="btn btn-solid rounded-lg">Create an Account</button></a>
                    <p class="pt-3">Buying for work? <a [routerLink]="['/register-vendor']" >Create a free business account</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->