<app-header-one [sticky]="true"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
    <!-- <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'fashion'" [buttonText]="'shop now'">
    </app-slider> -->
</section>
<!-- Home slider End -->


<!-- Product slider start-->
<!-- <div class="title1 section-t-space section-b-space-2">
    <h2>stores</h2>
    <h4 class="title-inner1">Online Shopping that Keeps it Real!</h4>
</div>
<section class="p-t-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-12" *ngFor="let store of stores; let i = index">
                <a [routerLink]="['/stores/', store.store_slug]" routerLinkActive="router-link-active">
                    <div class="store_img collection-banner">
                        <img src="{{store.store_image}}" alt="Store" class="img-fluid">
                    </div>
                </a>
                <div class="store_name text-center">
                    {{store.store_name}}
                </div>
            </div>

            <div class="col-12 text-center section-t-space section-b-space-2">
                <a routerLink="/stores"><button class="btn btn-outline rounded-lg">View More</button></a>
            </div>
        </div>
    </div>
</section> -->

<!-- <div class="title1 section-t-space section-b-space-2">
  <h2>shop by category</h2>
  <h4 class="title-inner1">Lorem ipsum dolor sit amet</h4>
</div> -->
<!-- <section class="p-t-0 section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
        <a href="javascript:void(0)">
          <div class="collection-banner">
            <img src="assets/images/categories/shoes_cat.png" class="img-fluid" alt="">
          </div>
          <div class="category_txt">
            shoes
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4">
        <a href="javascript:void(0)">
          <div class="collection-banner">
            <img src="assets/images/categories/apparels_cat.png" class="img-fluid" alt="">
          </div>
          <div class="category_txt">
            apparels
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4">
        <a href="javascript:void(0)">
          <div class="collection-banner">
            <img src="assets/images/categories/handbags_cat.png" class="img-fluid" alt="">
          </div>
          <div class="category_txt">
            handbags
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->
<app-footer-one></app-footer-one>