<app-header-one [sticky]="true"></app-header-one>
<div class="title1 section-t-space section-b-space-2">
  <h2>department</h2>
  <h4 class="title-inner1">Lorem ipsum dolor sit amet</h4>
</div>
<section class="p-t-0 section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
        <a href="javascript:void(0)">
          <div class="collection-banner">
            <img src="assets/images/categories/shoes_cat.png" class="img-fluid" alt="shoes">
          </div>
          <div class="category_txt">
            shoes
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4">
        <a href="javascript:void(0)">
          <div class="collection-banner">
            <img src="assets/images/categories/apparels_cat.png" class="img-fluid" alt="apparels">
          </div>
          <div class="category_txt">
            apparels
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4">
        <a href="javascript:void(0)">
          <div class="collection-banner">
            <img src="assets/images/categories/handbags_cat.png" class="img-fluid" alt="handbags">
          </div>
          <div class="category_txt">
            handbags
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<app-footer-one></app-footer-one>