.card {
    input {
        position: absolute;
        top: 25px;
        right: 15px;
    }
}

a {
    cursor: pointer;
}

.dashboard-left .block-content ul li {
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
}

.dashboard-left .block-content ul li:last-child {
    border: none;
}

.dashboard-left .block-content ul li:before {
    margin-top: 14px;
}