<!-- <app-breadcrumb [title]="'Forgot Password'" [breadcrumb]="'Forgot Password'"></app-breadcrumb> -->
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Forgot Your Password</h2>
                <form class="theme-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-row" >
                        <div class="col-md-12">
                            <input type="email" class="form-control" id="email" formControlName="userEmail" placeholder="Enter Your Email" required="">
                            <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="text text-danger mt-1">
                                <div *ngIf="userEmail.errors?.required">
                                    Email is required.
                                </div>
                                <div *ngIf="userEmail.errors?.email || userEmail.errors?.pattern">
                                    Please enter a valid email.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                        <button class="loginBtn" type="submit">Submit</button>
</div>
                        <div [className]="isValid ? 'alert mt-3 alert-success' : 'alert mt-3 alert-danger'" role="alert" *ngIf="isValid">
                            <div class="d-flex align-items-center"><span *ngIf="isValid"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> &nbsp;</span>{{submitMassage}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->