<div class="video-container">
    <video #videoElement autoplay muted playsinline style="display: none;"></video>
    <canvas #canvasElement width="640" height="480"></canvas>

    <!-- <div class="oval-outline" [ngStyle]="{ borderColor: isAligned ? 'lime' : 'red' }"></div> -->

    <!-- <button *ngIf="isAligned && !captured" (click)="captureSelfie()" class="selfie-button">
        📸 Take Selfie
    </button> -->
    <div *ngIf="countdownValue !== null" class="countdown-overlay">
        <span>{{ countdownValue }}</span>
    </div>
    <div *ngIf="selfie" style="text-align: center; margin-top: 20px;">
        <h3>Selfie Captured:</h3>
        <img [src]="safeSelfieUrl" alt="Selfie" />
    </div>
    <div class="alignment-hint text-center pb-3">
        <p>🟢 Keep your face close and straight, aligned with the green line.</p>
    </div>
</div>