.store-image {
    width: 85px;
    height: 85px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    display: inline-block;
    margin: 10px 10px 3px 10px;
    cursor: pointer;
    
  }
  .storeside-img {
    border: solid 3px transparent;
  }
  .storeside-img:hover {
    border: solid 3px #3e323e;
  }
  