<!-- price filter start here -->
<div class="collection-collapse-block border-0" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">price</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <!-- <div class="mt-2">
                <ng5-slider 
                    [(value)]="min" 
                    [(highValue)]="max" 
                    [options]="options" 
                    (userChangeEnd)="appliedFilter($event)"
                    *ngIf="isBrowser">
                </ng5-slider>
            </div> -->
            <div class="custom-control custom-checkbox collection-filter-checkbox">
              <input type="checkbox" class="custom-control-input" />
              <label class="custom-control-label" for="">Under $500</label>
            </div>
            <div class="custom-control custom-checkbox collection-filter-checkbox">
              <input type="checkbox" class="custom-control-input" />
              <label class="custom-control-label" for="">$500 - $1000</label>
            </div>
            <div class="custom-control custom-checkbox collection-filter-checkbox">
              <input type="checkbox" class="custom-control-input" />
              <label class="custom-control-label" for="">$1000 - $5000</label>
            </div>
            <div class="custom-control custom-checkbox collection-filter-checkbox">
              <input type="checkbox" class="custom-control-input" />
              <label class="custom-control-label" for="">Over $5000</label>
            </div>
        </div>
    </div>
</div>