.cart-section tbody tr td a,
.cart-section tbody tr td p,
.wishlist-section tbody tr td a,
.wishlist-section tbody tr td p {
  font-size: 20px;
}

.wishlist-section tbody tr td h2 {
  font-size: 18px;
}

.product-img {
  max-width: 130px;
}