<header class="header_sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header_inn">
                    <div class="row">
                        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-12">


                            <div class="header_inn_lt">

                                <div class="menu_sec">
                                    <nav class="navbar navbar-expand-lg navbar-light py-0">
                                        <div class="container-fluid">
                                            <a class="navbar-brand" href="index.html"><img
                                                    src="assets/images/new-v1/logo.png" alt="Ralbatech" /></a>
                                            <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
                                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                                aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon"><i class="fa fa-bars"
                                                        aria-hidden="true"></i></span>
                                            </button>


                                            <div class="collapse navbar-collapse"
                                                [ngClass]="{'collapsing': isCollapsing, 'show': isNavbarOpen}"
                                                id="navbarSupportedContent">
                                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" href="#home"
                                                            aria-current="page">Home</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#about">About us</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" [routerLink]="['/terms-condition']">Terms &
                                                            Condition</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#how">How it works</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#contact">Contact us</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>





                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 d-none d-md-block">
                            <div class="header_inn_rt">
                               <ul>
                                    <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="banner_sec" id="home" style="background: url('assets/images/new-v1/ban1.png') no-repeat center center;">
    <div class="banner_main">
        <div class="banner_inn">
            <!-- <img class="w-100" src="assets/images/new-v1/ban1.png" alt=""/> -->
            <div class="ban_inn_sec">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner_txt">
                                <h2>MAINTAIN YOUR STATE OF THE ART<br /> ONLINE EYEGLASS STORE<br /> PRESENCE
                                    HASSLE-FREE</h2>
                                <p>The most convenient platform for building a 3D-enhanced virtual reality online<br />
                                    eyeglass store to complement your physical store or eye care practice. </p>
                                <p>Big superstore inventory size on neighborhood store budget.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about_sec" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="about_inn">
                    <h6>ABOUT US</h6>

                    <div class="row">
                        <div class="col-sm-5">
                            <div class="about_lt">
                                <img src="assets/images/new-v1/abt_car.png" alt="" />
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="about_rt">
                                <p> Ralba Technologies is committed to making Augmented Reality technology available to
                                    all. Its platform makes it possible for budget-conscious neighborhood stores of all
                                    sizes to maintain an aesthetically assertive global online presence that takes
                                    full-advantage of advanced Virtual Reality technology.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how_works" id="how"
    style="background: url('./assets/images/new-v1/how_bg.png') no-repeat center center;">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="how_work_inn">
                    <h6>HOW IT WORKS</h6>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="how_lt">
                                <p>As a vendor, the platform makes it easy for you to create your own customized
                                    eyeglass store by uploading one or more images of the eyeglass models in your
                                    inventory. Or if you prefer, the platform allows you to act solely as an order
                                    fulfiller for any models that are part of your own inventory, and that are listed on
                                    any of its stores, without creating your own.
                                </p>
                                <div class="gplay text-center text-sm-start ">
                                    <a href="#contact">Book a demo</a>>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="how_rt">
                                <img src="assets/images/new-v1/shelf_products.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact_sec" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="contact_inn">
                    <h6>GET IN TOUCH</h6>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="con_sec">
                                <input type="text" class="form-control" formControlName="firstName"
                                    placeholder="First name" required="" (keydown)="handleEnter($event, 'lastName')">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                    class="text text-danger">
                                    <div *ngIf="firstName.errors?.required">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="firstName.errors?.pattern">
                                        First Name Only Contain Letter with space
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="con_sec">
                                <input type="text" class="form-control" id="lastName" formControlName="lastName"
                                    placeholder="Last name" required="" (keydown)="handleEnter($event, 'phone')">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                    class="text text-danger">
                                    <div *ngIf="lastName.errors?.required">
                                        Last Name is required.
                                    </div>
                                    <div *ngIf="lastName.errors?.pattern">
                                        Last Name Only Contain Letter with space
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="con_sec">
                                <input type="text" class="form-control" id="phone" formControlName="phone"
                                    placeholder="Contact Number" required=""  (keydown)="handleEnter($event, 'email')">

                                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                                    class="text text-danger mt-1">
                                    <div *ngIf="phone.errors?.required">
                                        Phone number is required.
                                    </div>
                                    <div *ngIf="phone.errors?.pattern">
                                        Only number is allowed.
                                    </div>
                                    <div *ngIf="phone.errors?.maxlength">
                                        Phone number only allow 15 digits.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="con_sec">
                                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email"
                                    required="" (keydown)="handleEnter($event, 'massage')">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                    class="text text-danger mt-1">
                                    <div *ngIf="email.errors?.required">
                                        Email is required.
                                    </div>
                                    <div *ngIf="email.errors?.email || email.errors?.pattern">
                                        Please enter a valid email.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="con_sec">
                                <textarea class="form-control" id="massage" placeholder="Write Your Message"
                                    formControlName="massage" rows="6"></textarea>
                                <div *ngIf="massage.invalid && (massage.dirty || massage.touched)"
                                    class="text text-danger">
                                    <div *ngIf="massage.errors?.required">
                                        Message is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="con_sec text-center mb-0">
                                <button type="submit" [disabled]="submitstatus">Submit</button>
                            </div>
                            <div [className]="isValid ? 'alert mt-3 alert-success' : 'alert mt-3 alert-danger'"
                                role="alert" *ngIf="isValid">
                                <div class="d-flex align-items-center"><span *ngIf="isValid"><i
                                            class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                                        &nbsp;</span>{{submitMassage}}</div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer_sec">
    <div class="footer_sec_up">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="footer_inn">
                        <div class="row">
                            <div class="col-12 col-sm-4 mb-4">
                                <div class="footer_lt text-sm-start text-center ">
                                    <img src="assets/images/new-v1/logo.png" alt="" />
                                </div>
                            </div>
                            <div class="col-6 col-sm-4">
                                <div class="footer_lt">
                                    <h6>Quick Links</h6>
                                    <ul>
                                        <li><a href="#home">Home</a></li>
                                        <li><a href="#about">About us </a></li>
                                        <li><a [routerLink]="['/terms-condition']">Terms & condition </a></li>
                                        <li><a href="#how">How it works </a></li>
                                        <li><a href="#contact">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4">
                                <div class="footer_lt">
                                    <div class="footer_lt_up">
                                        <h6>Contact</h6>
                                        <p><i class="fa-solid fa-envelope"></i><a
                                                href="mailto:support&#64;ralbatech.com">info&#64;ralbatech.com</a></p>
                                    </div>
                                    <div class="footer_lt_dwn">
                                        <!--   <h6>Get Social</h6>-->
                                        <!--<ul>
                                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    </ul>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_sec_dwn">
        <p>Copyright © 2024 RALBA Tech. All rights reserved.</p>
    </div>
</footer>