<!-- <app-breadcrumb [title]="product?.title" [breadcrumb]="'Product'"></app-breadcrumb> -->
<!-- section start -->
<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <owl-carousel-o [options]="ProductDetailsMainSliderConfig" #owlCar class="product-slick1">
                        <ng-container *ngFor="let image of productImages; index as i">
                            <ng-template carouselSlide [id]="i" *ngIf="i > 0">
                                <div class="zoom-container" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
                                    <img src="{{image.pro_image}}" class="zoom-image" />
                                  </div>   
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                    <div class="row align-items-center">
                        <div class="col-12 p-0">
                            <div class="slider-nav small-slider-product row">
                                <div class="col-12 col-sm-9">
                                    <owl-carousel-o [options]="ProductDetailsThumbConfig" class="product-slick">
                                        <ng-container *ngFor="let image of productImages; index as i ">
                                            <ng-template carouselSlide [id]="i" *ngIf="i > 0">
                                                <div class="owl-thumb" [class.active]="i == activeSlide">
                                                    <img [defaultImage]="'assets/images/product/placeholder.jpg'"
                                                        [lazyLoad]="image.pro_image" [alt]="product.product_name"
                                                        class="img-fluid m-auto" [src]="image.pro_image"
                                                        (click)="owlCar.to(activeSlide = i.toString())">
                                                </div>
                                            </ng-template>

                                        </ng-container>

                                    </owl-carousel-o>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h5 class="avalibility" *ngIf="totalstock <= product.stock"><span>In Stock</span></h5>
                        <h5 class="avalibility" *ngIf="totalstock > product.stock"><span>Out of Stock</span></h5>

                        <h2>{{ product?.product_name }}</h2>
                        <h3 *ngIf="product?.product_sale_price">
                            <del class="text-danger">{{ product?.product_retail_price | currency:
                                productService.Currency?.currency:'symbol'
                                }}</del>
                            <span>{{ product?.product_sale_price | currency: productService.Currency?.currency:'symbol'
                                }}</span>
                        </h3>
                        <h3 *ngIf="product?.product_sale_price == null">
                            <span>{{ product?.product_retail_price | currency:
                                productService.Currency?.currency:'symbol'}}</span>
                        </h3>
                        <!-- <div class="rating">
                        <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
                    </div> -->
                        <p class="mb-2">{{ product?.product_description}}</p>
                        <!-- <app-stock-inventory [stock]="product.stock - counter"></app-stock-inventory> -->
                        <div class="product-attributes pb-4">
                            <div *ngIf="productAttributeArr">
                                <div *ngFor="let attribute of productAttributeArr">
                                    <div *ngIf="attribute.value && !stingURLCheck(attribute.value)" class="py-2">
                                        <h4>{{capitalizeString(attribute.attribute_slug)}}</h4>
                                        <p>{{attribute.value}}</p>
                                    </div>
                                    <div *ngIf="attribute.value && stingURLCheck(attribute.value) == 'img'"
                                        class="py-2">
                                        <h4>{{capitalizeString(attribute.attribute_slug)}}</h4>

                                        <img src="{{attribute.value | safe: 'resourceUrl'}}" alt="">
                                    </div>
                                    <div *ngIf="attribute.value && stingURLCheck(attribute.value) == 'pdf'"
                                        class="py-2">
                                        <h4>{{capitalizeString(attribute.attribute_slug)}}</h4>
                                        <iframe [src]="attribute.value | safe: 'resourceUrl'" width="100%"></iframe>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="productAddons">

                                <div class="form-check form-switch pb-2" *ngIf="productAddons.length > 0">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                        [(ngModel)]="AddonService">
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Upload prescription</label>
                                </div>


                                <div *ngIf="AddonService" class="border-product">
                                    <div class="row">
                                        <div class="col-sm-6 col-12" *ngFor="let addon of productAddons">
                                            <div class="row m-0 form-group mb-3">
                                                <div *ngIf="addon.add_ons_level" class="add_ons_level">
                                                    <h4 class="pb-2 mb-3">{{ addon.add_ons_level }}</h4>
                                                </div>
                                                <h4 class="w-100">
                                                    <span *ngIf="addon.is_mandatory">*</span> {{ addon.add_ons_name }}
                                                </h4>
                                                <img *ngIf="addon.add_ons_image" [src]="addon.add_ons_image"
                                                    alt="Addon Image">
                                                <ng-container [ngSwitch]="addon.add_ons_input">

                                                    <div *ngSwitchCase="'video'" class="w-100 addons-price">
                                                        <div *ngIf="addon.add_ons_value[0].price">
                                                            <iframe
                                                                [src]="addon.add_ons_value[0].price | safe: 'resourceUrl'"
                                                                width="100%"></iframe>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'range-input'" class="w-100 addons-price">
                                                        <div>
                                                            <!-- <input class="form-control" type="color" #otherInput
                                                                (change)="onMultiInputChange(otherInput.value, addon.addon_slug, addon)"
                                                                [disabled]="(addon.add_ons_value[0].values < 1 && range)"
                                                                [(ngModel)]="selectedOptions[addon.addon_slug]"> -->

                                                            <input class="form-control" type="color" #otherInput
                                                                (change)="onMultiInputChange(otherInput.value, addon.key, addon)"
                                                                [disabled]="(addon.values < 1 && range)"
                                                                [(ngModel)]="othervalue">
                                                            <input class="color-range mt-3" type="range" #ranger
                                                                (change)="onInputChange(ranger.value, addon.addon_slug, addon)"
                                                                [disabled]="addon.add_ons_value[0].values < 1 && range"
                                                                [style.background]="otherInput.value"
                                                                [(ngModel)]="selectedOptions[addon.addon_slug]">
                                                        </div>

                                                        <div class="price-section"
                                                            *ngIf="addon.add_ons_value[0].values > 0 && range && addon.add_ons_value[0].price > 0">
                                                            <p class="mt-1">Selected Price: <input type="text"
                                                                    [(ngModel)]="value[addon.addon_slug]"></p>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'input'" class="w-100 addons-price">
                                                        <input class="form-control" type="number" #ranger
                                                            (change)="onInputChange(ranger.value, addon.addon_slug, addon)"
                                                            [(ngModel)]="selectedOptions[addon.addon_slug]">
                                                        <div class="price-section"
                                                            *ngIf="selectedOptions[addon.addon_slug] > 0 && addon.add_ons_value[0].price > 0">
                                                            <p class="mt-1">Selected Price: <input type="text"
                                                                    [(ngModel)]="value[addon.addon_slug]"></p>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'range'" class="w-100 addons-price">
                                                        <input class="color-range" type="range" #ranger
                                                            (change)="onInputChange(ranger.value, addon.addon_slug, addon)"
                                                            [disabled]="addon.add_ons_value[0].values < 1 && range"
                                                            [style.background]="addon.add_ons_code"
                                                            [(ngModel)]="selectedOptions[addon.addon_slug]">

                                                        <div class="price-section"
                                                            *ngIf="selectedOptions[addon.addon_slug] > 0 && addon.add_ons_value[0].price > 0">
                                                            <p class="mt-1">Selected Price: <input type="text"
                                                                    [(ngModel)]="value[addon.addon_slug]"></p>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'file'" class="w-100 addons-price">
                                                        <input class="form-control" type="file"
                                                            accept=".pdf,image/png, image/jpg, image/jpeg"
                                                            (change)="uploadFiles($event.target.files, getFormControlName(addon.add_ons_name), addon)">
                                                        <div class="price-section"
                                                            *ngIf="value[addon.addon_slug] > 0 && addon.add_ons_value[0].price > 0">
                                                            <!-- <p class="mt-1">Selected Price: <input type="text"
                                                                    [(ngModel)]="value[addon.addon_slug]"></p> -->
                                                        </div>
                                                        <a   *ngIf="fileUrl" href="{{fileUrl}}" target="_blank">View File</a>
                                                    </div>

                                                    <div *ngSwitchCase="'textarea'" class="w-100 addons-price">
                                                        <textarea class="form-control" #ranger
                                                            (change)="onInputChange(ranger.value, addon.addon_slug, addon)"
                                                            [(ngModel)]="selectedOptions[addon.addon_slug]"></textarea>
                                                        <div class="price-section"
                                                            *ngIf="value[addon.addon_slug] > 0 && addon.add_ons_value[0].price > 0">
                                                            <p class="mt-1">Selected Price: <input type="text"
                                                                    [(ngModel)]="value[addon.addon_slug]"></p>
                                                        </div>
                                                    </div>

                                                    <div *ngSwitchCase="'select' || 'multiselect'"
                                                        class="w-100 addons-price">
                                                        <select class="form-select"
                                                            [(ngModel)]="selectedOptions[addon.addon_slug]"
                                                            (change)="updatePrice(addon.addon_slug)">
                                                            <option *ngFor="let option of addon.add_ons_value"
                                                                [value]="option.value_slug">
                                                                <img *ngIf="option.value_image"
                                                                    [src]="option.value_image" class="Addon-image" />
                                                                {{ capitalizeString(option.value_slug) }}
                                                            </option>
                                                        </select>
                                                        <div class="price-section"
                                                            *ngIf="value[addon.addon_slug] > 0 && addon.add_ons_value[0].price > 0">
                                                            <p class="mt-1">Selected Price: <input type="text"
                                                                    [(ngModel)]="value[addon.addon_slug]"></p>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <!-- <h4 *ngIf="AddonService">Product Additional Cost : <span
                                        style="font-weight: 700;">{{productAddonsPrice | currency:
                                        productService.Currency?.currency:'symbol'}}</span></h4> -->
                            </div>

                        </div>
                        <div class="product-description pb-4">
                            <div *ngIf="quentityStatus == 'inactive'">
                                <div *ngIf="product_external_link.length < 12">
                                    <div class="d-flex">
                                        <div class="left-eye">
                                            <h6 class="product-title">Left Eye Quantity</h6>
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <button type="button" class="btn quantity-left-minus" data-type="minus"
                                                            (click)="decrement()">
                                                            <i class="ti-minus"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" name="quantity" class="form-control input-number"
                                                        [value]="counter" disabled />
                                                    <span class="input-group-prepend">
                                                        <button [disabled]="totalstock > product.stock" type="button" class="btn quantity-right-plus" data-type="plus"
                                                            (click)="increment()">
                                                            <i class="ti-plus"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="right-eye">
                                            <h6 class="product-title">Right Eye Quantity</h6>
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <button type="button" class="btn quantity-left-minus" data-type="minus"
                                                            (click)="decrement2()">
                                                            <i class="ti-minus"></i>
                                                        </button>
                                                    </span>
                                                    <input type="text" name="quantity" class="form-control input-number"
                                                        [value]="counter2" disabled />
                                                    <span class="input-group-prepend">
                                                        <button [disabled]="totalstock > product.stock" type="button" class="btn quantity-right-plus" data-type="plus"
                                                            (click)="increment2()">
                                                            <i class="ti-plus"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div *ngIf="cartbuttonhideStatus == 'inactive'">
                            <div class="product-buttons d-flex justify-content-center justify-content-lg-start" *ngIf="product_external_link.length < 12">
                                <a class="blueBtn ms-0"
                                    [class.disabled]="totalstock > product.stock || totalstock < 1"
                                    (click)="addToCart(product)">{{isProductinCart? 'update
                                    cart': 'add to
                                    cart'}}</a>
                                <button class="wishlistBtn ms-3" (click)="addToWishlist(product)"
                                    [disabled]="productWishliststatus">
                                    <i [ngClass]="productWishliststatus? 'fa fa-heart' : 'fa fa-heart-o'"
                                        class=""></i>
                                </button>
                            </div>
                            <div class="product-buttons" *ngIf="product_external_link.length > 12">
                                <a class="blueBtn ms-0"
                                    (click)="externalLInk(product_external_link)">Buy Now </a>
                            </div>
                        </div>
                        <!--<div class="border-product">
                        <h6 class="product-title">product details</h6>
                        <p>{{ product.description.substring(0, 200)+'...' }}</p>
                    </div>-->
                        <!-- <div class="border-product">
                         <h6 class="product-title">share it</h6> 
                            <div class="product-icon">
                                <app-social></app-social> 
                                <form class="d-inline-block" *ngIf="product_external_link.length < 12">
                                    <button class="wishlist-btn" (click)="addToWishlist(product)"
                                        [disabled]="productWishliststatus">
                                        <i [ngClass]="productWishliststatus? 'fa fa-heart' : 'fa fa-heart-o'"
                                            class=""></i>
                                        <span class="title-font">Wishlist</span>
                                    </button>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-12 product-related">
                    <h2>Related Products</h2>
                </div>
            </div>
            <div class="row search-product">
                <div class="col-xl-2 col-md-4 col-sm-6" *ngFor="let product of products | randomOrder | slice:0:6">
                    <div class="product-box">
                        <app-product-box-one [product]="product" [currency]="productService?.Currency" [cartModal]="true">
                        </app-product-box-one>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</section>
<app-product-view3D #view3D [image3d]="image3d"></app-product-view3D>
<!-- Section ends -->