<owl-carousel-o [options]="LogoSliderConfig" class="no-arrow">
  <ng-container *ngFor="let brand of brands">
    <ng-template carouselSlide>
      <div>
        <div class="logo-block">
          <!-- <a (click)="viewResults(brand._id)" class="pe-auto">
            <img *ngIf="!brand.brand_image" src="assets/images/brands/{{brand.brand_slug}}.png" alt="brand" class="w-95">
            <img *ngIf="brand.brand_image" src="{{brand.brand_image}}" alt="brand" class="w-95">
          </a> -->
           <button style="border: 0; background-color: white; width: 100%; height: 100%;" (click)="viewResults(brand._id)" class="pe-auto">
            <img *ngIf="!brand.brand_image" src="assets/images/brands/{{brand.brand_slug}}.png" alt="brand" class="w-100">
            <img *ngIf="brand.brand_image" src="{{brand.brand_image}}" alt="brand" class="w-100">
           </button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>