<!-- <app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb> -->
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">

            <div class="checkout-form" >
                <form [formGroup]="checkoutForm" (ngSubmit)="placeorder()" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title1 section-b-space">
                              <h2>Checkout</h2>
                            </div>
                        </div>
                        <div class="login-sec col-sm-12 pb-4" *ngIf="isUserLogin">
                            <p>You need to login, to continue.. </p>
                            <button type="button" (click)="checkoutLogin()" class="btn btn-solid rounded-lg">Login</button>
                        </div>
                        <div class="col-lg-7 col-sm-12 col-xs-12" [class.desabledform] = "isUserLogin" >
                            <div class="checkout-title">
                                <h3>Billing Details</h3>
                                <p class="mb-1">Contact Information</p>
                                <p class="m-0">We'll use these details to keep you inform on your delivery.</p>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Email Address</div>
                                    <input type="text" formControlName="email"  placeholder="" autocomplete="off" >
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone</div>
                                    <input type="text"  formControlName="phone"  placeholder="" autocomplete="off" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h4>1. Shipping Information</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <select formControlName="country">
                                        <option  selected>Select Country</option>
                                        <option value="India">India</option>
                                        <option value="USA">USA</option>
                                        <option value="Australia">Australia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <input type="text"  formControlName="firstname"  placeholder="" autocomplete="off" >

                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name </div>
                                    <input type="text"   formControlName="lastname"  placeholder="" autocomplete="off" >
                                </div>
                                
                                
                                
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <div class="field-label">Street Address</div>
                                    <input type="text" formControlName="address1"  placeholder="" autocomplete="off" >
                                </div>
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <div class="field-label">Street Address 2 <span class="font-12 text-muted float-right">Optional</span></div>
                                    <input type="text"   formControlName="address2" placeholder="Street address" >
                                </div>
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <div class="field-label">City</div>
                                    <input type="text"  formControlName="town"  placeholder="" autocomplete="off" >
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                    <div class="field-label">State</div>
                                    <input type="text"   formControlName="state"   placeholder="" autocomplete="off" >

                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-xs-12">
                                    <div class="field-label">ZIP</div>
                                    <input type="text"  formControlName="postalcode"   placeholder="" autocomplete="off" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
                                        <ngb-panel id="custom-panel-1">
                                            <ng-template ngbPanelTitle let-closed="closed">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <h5 class="m-0">2. Shipping Method</h5>
                                                </div>
                                            </ng-template>
                                            <ng-template ngbPanelContent>
                                                <div class="row" >
                                                    <div class="col-sm-6" *ngFor="let address of useraddressslist">
                                                        <div class="radio-option d-flex align-items-start">
                                                            <input type="radio" class="user_address_id" name="userAddress" value="{{address._id}}" [checked]="address.is_default == 1" formControlName="userAddressId" >
                                                            <address>
                                                                <h4> {{address.user_full_name}} </h4>
                                                                <p>{{address.addressline1}}, {{address.addressline2}}</p>
                                                                <p>{{address.city}} - {{address.postal_code}}</p>
                                                                <p>{{address.state}}</p>
                                                                <h5>Ph: {{address.mobile}}</h5>
                                                            </address>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-sm-12 col-xs-12" [class.desabledform] = "isUserLogin">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='products.length'>
                                        <li *ngFor="let product of products">
                                        	 {{ product.product_name }} × {{ product.quantity }}
                                        	<span>
                                                {{ (product.product_sale_price) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!products.length'>
                                        <li class="empty-checkout"> There are no products in cart </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                        	Subtotal <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol'}}</span>
                                        </li>
                                        <!-- <li>Coupon <span class="count">-$77.60</span></li>
                                        <li>Gift Card <span class="count">-$100.00</span></li>
                                        <li>Estimated Tax  <span class="count">$23.28</span></li>
                                        <li>Estimated Shipping  <span class="count">FREE</span></li> -->
                                    </ul>
                                    <ul class="total">
                                        <li>Estimated Total <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol'}}</span></li>
                                    </ul>
                                </div>

                            <div class="payment-box" >
                                <div class="upper-box">
                                    <div class="payment-options">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" value="COD" mdbInput formControlName="paymentOption">
                                                <label class="custom-control-label" for="defaultUnchecked">Cash On Delivery</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="defaultUnchecked1" name="defaultExampleRadios" value="Paypal" mdbInput formControlName="paymentOption">
                                                <label class="custom-control-label" for="defaultUnchecked1">Paypal</label>
                                                <img class="image d-block" src="assets/images/paypal.png" alt="" />
                                            </div>
                                        <!-- <ul>
                                            <li>
                                                <div class="radio-option">
                                                    <input type="radio" value="COD"  checked >
                                                    <label for="payment-2">Cash On Delivery
                                                        <span class="small-text">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="radio-option paypal">
                                                    <input type="radio" value="COD"  >
                                                    <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                                                </div>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                                <div class="text-right">
                                        <button type="submit" [disabled]="checkoutForm.invalid" class="btn-solid btn rounded-lg">
                                            Place Order
                                        </button>
                                    
                                        <div [className]="orderValid ? 'alert mt-3 alert-success' : 'alert mt-3 alert-danger'" role="alert" *ngIf="orderValid">
                                            <div class="d-flex align-items-center"><span *ngIf="orderValid"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> &nbsp;</span>{{orderMassage}}</div>
                                    <!-- <ngx-paypal [config]="payPalConfig" *ngIf="payment == 'Paypal'"></ngx-paypal> -->
                                        </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

