<!--footer section -->
<footer [class]="class">
	<div *ngIf="newsletter">
		<div class="container">
			<section class="small-section">
				<div class="row">
					<div class="col-lg-6">
						<div class="subscribe">
							<div class="footer-logo">
								<img [src]="themeLogo" alt="logo" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="col-lg-6">

					</div>
				</div>
			</section>
		</div>
	</div>
	<section class="pt-3">
		<div class="container">
			<div class="row footer-theme partition-f">
				<div class="col-12 col-sm-8">
					<div class="row">
						<div class="col-12 col-sm-6 col-md-3">
							<div class="sub-title">
								<div class="footer-title">
		                            <h4 class="mb-0">Account</h4>
		                        </div>
		                        <div class="footer-contant">
		                            <ul>
		                                <li><a routerLink="/pages/login">Sign In</a></li>
		                                <li><a routerLink="/pages/register">Register</a></li>
		                                <li><a href="javascript:void(0)">Order Status</a></li>
		                                <li><a href="javascript:void(0)">Returns</a></li>
		                            </ul>
		                        </div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3">
							<div class="sub-title">
								<div class="footer-title">
		                            <h4 class="mb-0">About Us</h4>
		                        </div>
		                        <div class="footer-contant">
		                            <ul>
		                                <li><a href="javascript:void(0)">Our Story</a></li>
		                                <li><a href="javascript:void(0)">Email Sign Up</a></li>
		                                <li><a href="javascript:void(0)">Give Back</a></li>
		                            </ul>
		                        </div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3">
							<div class="sub-title">
								<div class="footer-title">
		                            <h4 class="mb-0">Category</h4>
		                        </div>
		                        <div class="footer-contant">
		                            <ul>
		                                <li><a href="javascript:void(0)">Shoes</a></li>
		                                <li><a href="javascript:void(0)">Apparels</a></li>
		                                <li><a href="javascript:void(0)">Hand Bags</a></li>
		                            </ul>
		                        </div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-3">
							<div class="sub-title">
								<div class="footer-title">
		                            <h4 class="mb-0">Help</h4>
		                        </div>
		                        <div class="footer-contant">
		                            <ul>
		                                <li><a href="javascript:void(0)">Contact Us</a></li>
		                                <li><a href="javascript:void(0)">Order Status</a></li>
		                                <li><a href="javascript:void(0)">Returns</a></li>
		                            </ul>
		                        </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-4">
					<div class="sub-title">
						<div class="footer-title">
						    <h4 class="mb-0">Follow Us!</h4>
						</div>
						<div class="footer-contant">
						    <p class="contact-list pt-2">
						        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, labore perspiciatis eveniet, quidem excepturi perferendis.
						    </p>
						    <div class="footer-social mt-2">
	                            <ul>
	                                <li>
	                                    <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	                                </li>
	                                <li>
	                                    <a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	                                </li>
	                                <li>
	                                    <a href="javascript:void(0)"><i class="ti-twitter" aria-hidden="true"></i></a>
	                                </li>
	                            </ul>
	                        </div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="sub-footer">
		<div class="container">
			<div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12">
                  <div class="footer-end text-center">
                    <p><i class="fa fa-copyright" aria-hidden="true"></i> {{ today | date:'y'}} Ralba Technologies</p>
                  </div>
                  <div class="terms_area">
                  	<ul>
                  		<li><a href="javascript:void(0)">Terms of use</a></li>
                  		<li><a href="javascript:void(0)">Privacy</a></li>
                  	</ul>
                  </div>
                </div>
            </div>
		</div>
	</div>
</footer>
<!--footer section end -->