<app-header-one [sticky]="true"></app-header-one>
<div class="title1 section-t-space section-b-space-2">
  <h2>stores</h2>
  <h4 class="title-inner1">Lorem ipsum dolor sit amet</h4>
</div>
<section class="p-t-0 section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-12">
        <a href="javascript:void(0)">
          <div class="store_img collection-banner">
            <img src="assets/images/store/store.png" alt="Store" class="img-fluid">
            <div class="brand_logo">
              <img src="assets/images/store/puma_logo.png" alt="Store Logo">
            </div>
          </div>
        </a>
        <div class="store_name text-center">
          BRAND NAME
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-12">
        <a href="javascript:void(0)">
          <div class="store_img collection-banner">
            <img src="assets/images/store/store.png" alt="Store" class="img-fluid">
            <div class="brand_logo">
              <img src="assets/images/store/reebok_logo.png" alt="Store Logo">
            </div>
          </div>
        </a>
        <div class="store_name text-center">
          BRAND NAME
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-12">
        <a href="javascript:void(0)">
          <div class="store_img collection-banner">
            <img src="assets/images/store/store.png" alt="Store" class="img-fluid">
            <div class="brand_logo">
              <img src="assets/images/store/nike_logo.png" alt="Store Logo">
            </div>
          </div>
        </a>
        <div class="store_name text-center">
          BRAND NAME
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-12">
        <a href="javascript:void(0)">
          <div class="store_img collection-banner">
            <img src="assets/images/store/store.png" alt="Store" class="img-fluid">
            <div class="brand_logo">
              <img src="assets/images/store/adidas_logo.png" alt="Store Logo">
            </div>
          </div>
        </a>
        <div class="store_name text-center">
          BRAND NAME
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-12">
        <a href="javascript:void(0)">
          <div class="store_img collection-banner">
            <img src="assets/images/store/store.png" alt="Store" class="img-fluid">
            <div class="brand_logo">
              <img src="assets/images/store/puma_logo.png" alt="Store Logo">
            </div>
          </div>
        </a>
        <div class="store_name text-center">
          BRAND NAME
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-12">
        <a href="javascript:void(0)">
          <div class="store_img collection-banner">
            <img src="assets/images/store/store.png" alt="Store" class="img-fluid">
            <div class="brand_logo">
              <img src="assets/images/store/reebok_logo.png" alt="Store Logo">
            </div>
          </div>
        </a>
        <div class="store_name text-center">
          BRAND NAME
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-12">
        <a href="javascript:void(0)">
          <div class="store_img collection-banner">
            <img src="assets/images/store/store.png" alt="Store" class="img-fluid">
            <div class="brand_logo">
              <img src="assets/images/store/nike_logo.png" alt="Store Logo">
            </div>
          </div>
        </a>
        <div class="store_name text-center">
          BRAND NAME
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-12">
        <a href="javascript:void(0)">
          <div class="store_img collection-banner">
            <img src="assets/images/store/store.png" alt="Store" class="img-fluid">
            <div class="brand_logo">
              <img src="assets/images/store/adidas_logo.png" alt="Store Logo">
            </div>
          </div>
        </a>
        <div class="store_name text-center">
          BRAND NAME
        </div>
      </div>
    </div>
  </div>
</section>
<app-newsletter></app-newsletter>
<app-footer-one></app-footer-one>