.card{
    input{
        position: absolute;
        top:25px;
        right:15px;
    }
}
a{
    cursor: pointer;
}
.text-danger div:first-child
{
    margin-top: -25px;
}

.text-danger{
    padding-bottom: 25px;
}