<!-- <app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb> -->
<!-- personal deatail section start -->
<section class="contact-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>PERSONAL DETAIL</h3>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="last-name">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Enter Your last name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control mb-0" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- address section start -->
<section class="contact-page register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>SHIPPING ADDRESS</h3>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="addressline1">Address Line 1 *</label>
                            <input type="text" class="form-control" id="addressline1" placeholder="Address" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="addressline2">Address Line 2 *</label>
                            <input type="text" class="form-control" id="addressline2" placeholder="Address" required="">
                        </div>
                        
                        <div class="col-md-6">
                            <label for="city">City *</label>
                            <input type="text" class="form-control" id="city" placeholder="City" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="state">Region/State *</label>
                            <input type="text" class="form-control" id="state" placeholder="Region/state" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="postal_code">Zip Code *</label>
                            <input type="text" class="form-control" id="postal_code" placeholder="Zip Code" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="telephone">Telephone *</label>
                            <input type="text" class="form-control" id="telephone" placeholder="Telephone" required="">
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-solid rounded-lg" type="submit">Save Settings</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->