/* You can add global styles to this file, and also import other style files */

.cart_product_info {
    width: 55%;
}

.password_sec {
    position: relative;
}

.field-icon {
    position: absolute;
    right: 15px;
    bottom: 18px;
    cursor: pointer;
}

.ngxImageZoomFullContainer.ngxImageZoomLensEnabled {
    background-color: #fff;
}

@media only screen and (max-width: 600px) {
    .field-icon {
        bottom: 18px;
    }
}

@media only screen and (max-width: 577px) {
    .onhover-dropdown.mobile-account {
        .onhover-show-div {
            bottom: 19px;
            top: unset;

            li a {
                font-size: 14px !important;
            }
        }
    }
}