<!-- <app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb> -->
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="form">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" placeholder="First Name" required="" formControlName="fname">
                            </div>
                            <div class="col-md-6">
                                <label for="lname">Last Name</label>
                                <input type="password" class="form-control" id="lname" placeholder="Last Name" required="" formControlName="password">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" required="" formControlName="email">
                            </div>
                            <div class="col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter your password" required="" formControlName="password">
                            </div>
                            <div class="col-md-6">
                                <label for="repeat_password">Repeat Password</label>
                                <input type="password" class="form-control" id="repeat_password" placeholder="Repeat your password" required="" formControlName="repeat_password">
                            </div>
                            <div class="col-md-6">
                                <label for="phone">Phone</label>
                                <input type="password" class="form-control" id="phone" placeholder="Enter your phone" required="" formControlName="phone">
                            </div>
                            <button class="btn btn-solid rounded-lg">create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->