<!-- section start -->
<section class="compare-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="row mb-4">
                    <div class="col-sm-3">
                        <div class="brands mb-2">
                            <h5>Filter Brand ::</h5>
                            <ng-select [clearSearchOnAdd]="true"
                            bindLabel="brand_name"
                            (change)="changeBrandname($event)"
                            [clearable]="false"
                            [items]="brandList"
                            [(ngModel)]="selectedBrandName">
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <!-- <img height="25" width="25" style="object-fit: contain;" [src]="item.brand_image"/> -->
                                <b>{{item.brand_name}}</b>
                            </ng-template>
                        </ng-select> 
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="categories d-flex flex-wrap">
                                <h5 class="top-heading">Categories ::</h5>
                                <div *ngFor="let category of categoryList" class="d-flex flex-wrap">
                                    <div *ngFor="let cat of category">
                                        <!-- <div class="main_category" *ngIf="cat.attributes">
                                            <button class="btn btn-primary rounded more" (click)="getCAtegoryDeatils(cat)" *ngIf="cat.category_slug == cat_slug">{{cat.category_name}}</button> 
                                            <button class="btn btn-primary rounded" (click)="getCAtegoryDeatils(cat)" *ngIf="cat.category_slug != cat_slug">{{cat.category_name}}</button> 
                                        </div> -->
                                        <div class="sub_category" *ngIf="!cat.attributes">
                                            <button class="btn btn-primary rounded more" (click)="getCAtegoryDeatils(cat)" *ngIf="cat.category_slug == cat_slug">{{cat.category_name}}</button> 
                                            <button class="btn btn-primary rounded" (click)="getCAtegoryDeatils(cat)" *ngIf="cat.category_slug != cat_slug">{{cat.category_name}}</button> 
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary rounded" (click)="getAllProducts()">Clear Filter</button> 
                            </div>
                        </div>

                        <div class="pagiantion text-left mt-5">
                            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
                            <!-- <div class="mr-2">
                                <button class="btn btn-sm btn-primary" *ngIf="showPrev" (click)="handlePrev()">Prev <<</button>
                                <span class="buttons" *ngFor="let btnNumber of buttonNumbers">
                                <button class="btn btn-sm btn-primary btns">{{btnNumber}}</button>
                                </span>
                                <button class="btn btn-sm btn-primary" *ngIf="showNext" (click)="handleNext();">Next >></button>
                              </div> -->
                        </div>

                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="container-fluid full-container">
        <div class="row">
            <div class="col-md-12">
                <div class="rack_inn">
                    <img src="assets/images/self.png" alt="" />
                    <div *ngFor="let section of groupedItems | paginate: { itemsPerPage: 9, currentPage: currentPage, totalItems: totalProducts}" class="sunglass_main">
                        <div class="row">
                            <div *ngFor="let item of section" class="col-sm-4 col-4">
                                <div class="sunbox">
                                    <a [routerLink]="['/product', item.product_slug]"><img [src]="item.product_image[0].pro_image" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>
<!-- Section ends -->